<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/madlib">
        <label for="name">Name:</label>
        <input type="text" name = "name">

        <label for="color">Color:</label>
        <input type="text" name = "color">

        <label for="noun">Noun:</label>
        <input type="text" name = "noun">
        <label for="adjective">Adjective:</label>
        <input type="text" name = "adjective">

        <br>
        Pick a second adjective:
        <input type="checkbox" name = "adj2" value="amazing">
        <label for="adj2">amazing</label>
        <input type="checkbox" name = "adj2" value="crazy">
        <label for="adj2">crazy</label>
        <input type="checkbox" name = "adj2" value="fantastic">
        <label for="adj2">fantastic</label>

        <button type="submit">Submit</button>
    </form>
</body>
</html>